# Ignore Python virtual environments
env/
venv/
__pycache__/
*.pyc

# Ignore OS files
.DS_Store

# Ignore VS Code settings
.vscode/

# Ignore SQLite database
*.sqlite3

# Ignore migrations (optional)
**/migrations/*.py
!**/migrations/__init__.py
